rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'YOUR_ADMIN_EMAIL';
    }

    match /contentify/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}
